erara_dsv01/ud/*
erara_dsv01/data/*
erara_dsv01/log/*
emanuscripta_dsv01/ud/*
emanuscripta_dsv01/data/*
emanuscripta_dsv01/log/*
emanuscripta_dsv05/ud/*
emanuscripta_dsv05/data/*
emanuscripta_dsv05/log/*
